<div class="col-sm-11">
  <div class="panel panel-default">
    <div class="panel-thumbnail">
      <%= image_tag @picture.image.url , class: 'img-responsive' %>
    </div>

    <div class="panel-body">
      <p class="lead"><%= @picture.user.name %></p>
      <p>本文:<%= @picture.content %></p>
      <p>更新日時:<%= @picture.updated_at %></p>

    </div>
  </div>
</div>
